html{
    width: 100%;
    font-size: 62.5%;
    margin: 0;
    background-color: grey;
}

.groTit{
    text-shadow: 4px 4px 7px lightblue;
}

.conteneur{
    font: 1.2em Righteous;
    width: 63%;
    margin: auto;
    background: #f5f5f5;
    padding-bottom: 1em;
    color: black;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 0 3em lightblue;
}

table{
    margin: auto;
    /*    border:1px solid rgba(0, 0, 0, 0.25);*/
    border-radius: 1em;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); /* this draws the table border  */ 
    border-collapse: collapse;
}

th{
    border:1px solid rgba(0, 0, 0, 0.25);
    border-collapse:collapse;
    min-width: 10em;
    font: 1.4em Righteous;
    color: black;
    text-shadow: 0.1em 0.1em lightblue;
}

td{
    border:1px solid rgba(0, 0, 0, 0.25); 
    border-collapse:collapse;
    text-align: center;
    font: 1.2em Righteous;
    color: black;
}

.center{
    text-align: center;
}

input{
    background-color: darkgrey;
    border-radius: 1em;
    font: 1.4em Righteous;
    color: lightblue;
}

select{
    border-radius: 1em;
    font: 1.4em Righteous;
}

input:hover{
    background-color: lightblue;
    color: lightgoldenrodyellow;
}

.lienAcc {
    margin: 1em auto 1em auto;
    width: 20em;
    text-align: center;
}

a{
    display: block;
    width: 20em;
    text-align: center;
    text-decoration: none;
    background-color: darkgrey;
    border-radius: 1em;
    font: 1.4em Righteous;
    color: lightblue;
}

a:hover{
    background-color: lightblue;
    color: lightgoldenrodyellow;
}

