html{
    width: 100%;
    font-size: 62.5%;
    margin: 0;
    background-color: black;
}

.conteneur{
    font: 1.2em Righteous;
    width: 85%;
    margin: auto;
    background: grey;
    padding-bottom: 1em;
    color: white;
    box-shadow: 0 0 3em yellowgreen;
}

header{
    background-color: dimgrey;
}

nav{
    background-color: black;
}

#logo{
    height: 8em;
    vertical-align: middle;
    padding: 1em 0 1em 2em;
}

.groTitAcc{
    text-shadow: 4px 4px 7px yellowgreen;
    font-size: 3.5em;
    margin: 0;
    padding: 0.5em;
    padding-left: 0.7em;
    display: inline-block;
    vertical-align: middle;
}

.groTit{
    text-shadow: 4px 4px 7px yellowgreen;
    font-size: 3.5em;
    margin: 0;
    padding: 0.5em;
    padding-left: 0.7em;
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    border-right: 1px solid #bbb;
    padding: 1em 4em;
}

li:first-child{
    border-left: 1px solid #bbb;
}
li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font: 1.4em Righteous;
    color: #61e5a1;
}

li a:hover{
    color: white;
}

#boutAjout{
    display: inline-block;
    vertical-align: middle;
}

#boutAjout input{
    background-color: dimgrey;
    border: none;
    padding-left: 10em;
    font: 1.4em Righteous;
    color: white;
}

#boutAjout input:hover{
    color: yellowgreen;
}

table .pUnique{
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); /* this draws the table border  */ 
    border-collapse: collapse;
}

table{
    margin: auto;
    /*    border:1px solid rgba(0, 0, 0, 0.25);*/
    border-radius: 1em;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); /* this draws the table border  */ 
    border-collapse: collapse;
}

th{
    border:1px solid rgba(0, 0, 0, 0.25);
    border-collapse:collapse;
    min-width: 10em;
    font: 1.4em Righteous;
    color: black;
    text-shadow: 0.1em 0.1em yellowgreen;
}

td{
    border:1px solid rgba(0, 0, 0, 0.25); 
    border-collapse:collapse;
    text-align: center;
    font: 1.2em Righteous;
    color: lightgrey;
}

.center{
    text-align: center;
}

input.action{
    background-color: black;
    border-radius: 1em;
    border:1px solid rgba(255, 255, 255, 0.65); 
    font: 1.4em Righteous;
    color: yellowgreen;
}

input.action:hover{
    background-color: yellowgreen;
    border:1px solid rgba(0, 0, 0, 0.65); 
    color: black;
}

.lienAcc {
    margin: 1em auto 1em auto;
    width: 20em;
    text-align: center;
}

a{
    display: block;
    width: 20em;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border:1px solid rgba(255, 255, 255, 0.65); 
    border-radius: 1em;
    font: 1.4em Righteous;
    color: yellowgreen;
}

a:hover{
    background-color: yellowgreen;
    border:1px solid rgba(0, 0, 0, 0.65); 
    color: black;
}

.conteneur .succes{
    height: 3em;
    width: 21%;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: yellowgreen;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.conteneur .succes .mSucces{
    text-align: center;
    color: white;
}


